.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.entry-title {
  font-weight: 100;
  letter-spacing: 0.5vw;
    font-size: 1em;
}

.entry .entry-title:before{
  content: none;
}

.entry-title{
font-weight: 400;
}

.entry-title a:hover, a:active {
color: white !important;
}

/* code sass pour les articles nouvelles et evenements*/
.wp-block-media-text__content p {
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a.lienArticle{
  color: #4E0C3A;
  font-size: .8em;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
