.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}



.site-title.anim1{
    letter-spacing: 0.5vw;
    font-weight: 100;
    font-size: 4em;
  }
  
  .site-description {
    letter-spacing: 0.5vw;
    font-weight: 100;
  }

  .site-title:not(:empty) + .site-description:not(:empty):before {
    content: none;
  }

  .site-header.featured-image:after {
    background: none;
}

.entry-title {
  font-weight: 100;
  letter-spacing: 0.5vw;
    font-size: 1em;
}

.entry .entry-title:before{
  content: none;
}

.entry-title{
font-weight: 400;
}

.entry-title a:hover, a:active {
color: white !important;
}
