/*--------------------------------------------------------------
## cours
--------------------------------------------------------------*/

@import "liste-cours"; 

/* css pour les articles cours*/

.category-cours .titre-article{
    font-weight: 600 !important;
    letter-spacing: 0.3em;
    width: max-content;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  .contenu-article-cours{
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  .conteneur-article-cours article{
    padding: 2vh;
    color: white;
  }
  
  .conteneur-article-cours .entry-footer{
    color: white;
  }
  
  .contenu-article-cours h4{
    font-weight: 400 !important;
    letter-spacing: 0.3em;
    width: max-content;
    font-size: 1em;
    text-transform: uppercase;
  }