

#liste-cours {
      margin-bottom:0 ;
}

.liste-cours {
    display : grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 2% 2% 0% 15%;
    font-size : 1.5em;
  
    .domaine-1 { background-color: #c1a0ff; color : #fff; }
    .domaine-2 { background-color: #EA97EF; color : #aaa;}
    .domaine-3 { background-color: #A968C8; color : #fff;}
    .domaine-4 { background-color: #7958AA; color : #fff;}
    .domaine-5 { background-color: #C2E3F3; color : #fff;}
    .domaine-6 { background-color: #ffffff; color : #fff;}
    h3,h4 { padding:5px;}

    @include media(mobile){
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        font-size : 1.3em;

    }

    @include media(tablet) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            font-size : 1em;
     
    }

    @include media(desktop) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
   
    }

    @include media(wide) {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
     
        }

    .entry-title {

        h3.titre-cours-h3{
           color: white;
        }
        h4.desc-cours-h4{
            color: white;
        }

    }
    
    .entry-title.domaine-1:hover, .entry-title.domaine-2:hover, .entry-title.domaine-3:hover, .entry-title.domaine-4:hover,.entry-title.domaine-5:hover, .entry-title.domaine-6:hover {

        h3.titre-cours-h3{
           color:#4E0C3A;
        }
        h4.desc-cours-h4{
            color:#4E0C3A;
        }
        
    }





}